*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: 0px;
}
body{
    line-height: 1.618em;
    font-weight: 500;
}
.wrapper{
    position: relative;
}
header{
    position: absolute;
    top: 0px;
    padding: 28px 44px;
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
header .header-logo{
   width: 250px;
   cursor: pointer;
}
header .header-logo img{
    max-width: 200px;
}
header .header-nav{
    width: 45%;
    display: flex;
}
header .header-nav nav{
    width: 75%;
}
header .header-nav nav ul{    
    display: flex;
    list-style: none;    
    justify-content: space-between;
}
header .header-nav nav ul a{
    color: white;
    text-decoration: none;
}
.header-nav-social{
    display: flex;
    width: 15%;
    justify-content: space-between;
    align-items: center;
}
.header-nav-social img{
    width: 20px;
    height: 20px;
}
header .header-button a{
    margin-top: 0px;
    margin-right: 10px;
    display: inline-flex;
    padding: 14px 32px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    border-radius: 80px;
    background: white;
    font-size: 16px;
    line-height: 18px;
}
header .header-button a:hover{
    background-color: transparent;
    color: #ffffff;
    box-sizing: border-box;
    border: 1px solid white;
}

.greetings-full{
    display: flex;
    background: black;
    height: 800px;
    align-items: center;
}
.greetings-text-block{
    color: white;
    width: 50%;
    padding-left: 24px;
}
.greetings-text-block h1{
    font-size: 48px;
    line-height: 1.25em;
    font-weight: 500;
}
.greetings-img-block{
    width: 50%;
}
.greetings-img-block img{
    width: 100%;
    object-fit: cover;
    height: 800px;
}
.button-primary{
    display: inline-flex;
    margin-top: 38px;
    border-radius: 80px;
    border: 1px solid transparent;
    background: white;
    padding: 14px 32px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    line-height: 18px;
}
.button-primary:hover{
    background-color: transparent;
    color: #ffffff;
    box-sizing: border-box;
    border: 1px solid white;
}
.burger-menu-img img{
    width: 100%;
}
.burger-menu{
    margin-bottom: -5px;
    width: 30px;
    height: 30px;
    position: relative;
    display: none;
}

.burger-menu-list{
    display: none;
}
.burger-menu-list ul{
    position: absolute;
    top: 20px;
    font-size: 18px;
    left: 0px;
    list-style: none;
}
.burger-menu-list ul li a{
    color: #ffffff;
    text-decoration: none;
}
.customs-full{
    padding: 200px 20px;
    background-color: #232323;
}
.customs-blocks{
    display: flex;
    justify-content: space-between;
}
.customs-blocks-img{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.customs-blocks img{
    margin-bottom: 32px;
    max-width: 100%;
}

.customs-blocks-content{
    margin-top: 56px;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dash-small{
    position: relative;
    width: 56px;
    min-height: 2px;
    background-color: #ffffff;
    margin-bottom: 24px;
}
.customs-blocks-text{
    max-width: 70%;
    margin: 0px auto;
    margin-bottom: 128px;
}
.customs-blocks-text h2{
    font-size: 34px;
    color: #ffffff;
    margin-bottom: 16px;
}
.customs-blocks-text p{
    margin-bottom: 24px;
    color: #cecece;
    line-height: 1.618em;
    font-size: 16px;
}
.customs-blocks-text-img img{
    width: 100%;
}
.Art-and-collectibles{
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-between;
    background: black;
    padding: 200px 24px;
}
.Art-content{
    width: 45%;
}
.Art-content h2{
    margin-bottom: 16px;
    font-size: 34px;
}
.Art-content p{
    color: #cecece;
    font-size: 16px;
    margin-bottom: 24px;
}
.img-collectibles{
    width: 60%;
    height: 500px;
    
    position: relative;
}
.img-collectibles img{
    width: 360px;
    height: 360px;
}
.img-collectibles1{
    position: absolute;
    right: 0;
}
.img-collectibles2{
    position: absolute;
    margin-top: 140px;
    right: 170px;
}
.roadmap-full{
    padding: 200px 24px;
    background: #232323;
}
.roadmap-title{
    color: white;
}
.roadmap-title h2{
    font-size: 32px;
}
.roadmap-title p{
    color: #cecece;
}
.roadmap-dash{
    display: flex;
    margin-bottom: 24px;
}
.dash-medium-70px {
    position: relative;
    width: 70px;
    margin-left: 16px;
    background: white;
    height: 2px;
    align-self: flex-end;
}
.roadmap-posts{
    display: flex;
    justify-content: space-between;
}
.roadmap-post{
    width: 32%;
    padding: 48px 32px 64px;
    background-color: black;
    color: #ffffff;
    
}
.roadmap-post-title h2{
    font-size: 32px;
    margin-bottom: 24px;
}
.roadmap-post-title h3{
    font-size: 22px;
}
.roadmap-post-text p{
    margin-top: 24px;
    color: #cecece;
}
.CBS-full{
    background-color: black;
    padding: 100px 24px;
}
.CBS-title{
    margin: 0px auto;
    color: #ffffff;
    max-width: 500px;
    text-align: center;
}
.CBS-title h2{
    font-size: 34px;
    margin-bottom: 16px;
}
.CBS-title p{
    color: #cecece;
    margin-bottom: 48px;
}
.CBS-tovars{
    display: flex;
    justify-content: space-between;
}
.CBS-tovar{
    width: 30%;
}
.CBS-tovar-img img{
    width: 100%;
}
.CBS-tovar-text{
    padding: 40px 28px;
    background-color: #232323;
    color: #ffffff;
}
.CBS-tovar-text p{
    color: #cecece;
}
.artist-full{
    padding-top: 100px;
    padding-bottom: 200px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: #232323;
}
.artist-title h2{
    margin-bottom: 48px;
    font-size: 34px;
    color: #ffffff;
}
.artist-content{
    display: flex;
    justify-content: center;
}
.artist-content-text-full{
    max-width: 500px;
    background-color: black;
    box-sizing: content-box;
    padding: 120px 15% 120px 80px;
}
.artist-content-button a{
    margin-top: 20px;
    padding: 14px 32px;
    display: inline-flex;
    background-color: #ffffff;
    border-radius: 80px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
}
.artist-content-button a:hover{
    background-color: transparent;
    color: #ffffff;
    box-sizing: border-box;
    border: 1px solid white;
}
.artist-content-text{
    border-bottom: 1px solid #ffffff;
}
.artist-content-text p{
    font-size: 22px;
    margin-bottom: 24px;
    color: #ffffff;
}
.artist-content-img {
    position: relative;
    width: 50%;
    max-width: 450px;
    margin-top: -64px;
    margin-left: -10%;
}
.artist-content-img img{
    width: 100%;    
    height: 500px;
    max-width: 450px;
}
.Frequently-full{
    padding: 100px 24px;
    background-color: black;
}
.Frequently-title{
    margin-bottom: 64px;
}
.Frequently-title h2{
    color: #ffffff;
    font-size: 34px;
}
.Questions-block{
    color: #ffffff;
    
}
.Questions-block-top{
    display: flex;
    padding: 40px 0px;
    
    border-top: 1px solid #696969;
}
.Questions-block-number h2{
    font-size: 22px;
}
.Questions-block-text h2{
    font-size: 20px;
}
.Questions-block-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}   
.Questions-block-number{
    margin-right: 24px;    
    font-size: 20px;
}
.Questions-block-img p{
    font-size: 35px;
    transition: 0.5s;
}
.Questions-block-bottom p{
    margin-bottom: 24px;
    font-size: 16px;
    transition: height 1s;  
    overflow: hidden;
    transform: rotate(0deg)!important;
    color: #cecece;
}
.Society-full{
    padding-bottom: 200px;
    background-color:#232323;
    display: flex;
    color: #ffffff;
    justify-content: center;
    padding-top: 200px;
}
.Society-content{
    text-align: center;
}
.Society-content h2{
    font-size: 40px;
    margin-bottom: 16px;
}
.Society-button{
    display: inline-flex;
    margin-top: 0px;
    margin-right: 0px;
    margin-top: 32px;
    color: black;
    border-radius: 80px;
    text-decoration: none;
    padding: 14px 32px;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 18px;
}
.Society-button:hover{
    background-color: transparent;
    color: #ffffff;
    box-sizing: border-box;
    border: 1px solid white;
}
.footer-full{
    padding-top: 100px;
    padding-bottom: 200px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: #000;
}
.footer-top-logo{
    max-width: 250px;
}
.footer-top{
    display: flex;
    border-bottom: 1px solid #ffffff;
}
.footer-top-logo img{
    width: 100%;
}
.footer-bottom-title h2{
    color: #ffffff;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}
@media(max-width:978px){
    header .header-nav nav{
        display: none;
    }
    .header-nav-social{
        display: flex;
        width: 25%;
        margin-left: auto;
        margin-right: 20px;
        align-items: center;
    }
    .greetings-full{
        flex-direction: column;
        justify-content: space-between;
        height: 1000px;
    }
    .greetings-text-block{
        text-align: center;
        margin-top: 200px;
    }
    .roadmap-posts{
        flex-direction: column;
        align-items: center;
    }
    .roadmap-post{
        width: 70%;
        margin-bottom: 50px;
    }
    .greetings-img-block img{
        height: auto;
    }
    .customs-blocks {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .customs-blocks-content{
        width: 80%;
    }
    .burger-menu{
        display: block;
    }
    .Art-content{
        width: 70%;
    }
    
    .Art-and-collectibles{
        flex-direction: column;
        align-items: center;
    }
    .customs-blocks-text{
        margin-bottom: 20px;
    }
    .customs-blocks-content{
        margin-top: 10px;
    }
}